@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>

            <th>Book</th>

            <th class="text-right">Price</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ShoppingCart.ShoppingCartItems)
         {
        <tr>
            <td class="text-center">@item.Amount</td>
            <td class="text-left">@item.Book.Name</td>
            <td class="text-right">@item.Book.Price</td>
            <td class="text-right">
                @((item.Amount * item.Book.Price).ToString("c"))
            </td>
        </tr>

         }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total :</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>

</table>
<div class="text-center">
    <a class="btn btn-primary"  asp-controller="Order" asp-action="CreateOrder">Create Order</a>

</div>

